[Unit]
Description=Description for arp_jumper
After=network.target

[Service]
Type=simple
ExecStart=/opt/arp_jumper.py
TimeoutStartSec=0

[Install]
WantedBy=default.target